.FormWrapper {
  max-width: 70rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 8rem;
  width: 100%;
  border-radius: 0.3rem;
  margin: 0 auto;
  box-shadow: 0rem 0.5rem 1.5rem var(--shadow);
}

.Form {
  display: flex;
  flex-direction: column;
}

.Loading {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.ErrorMessage {
  text-align: center;
  margin-top: 3rem;
  color: var(--color-red);
  font-size: 1.3rem;
  font-weight: 700;
}

.Delete {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  padding: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-red);
  transition: all 0.2s;
}

.Delete:hover {
  transform: translateY(-3px);
}

.Delete:active {
  transform: translateY(1px);
}

/* Popup confirmation */

.ModalWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.CancelBtn {
  color: var(--color-primary);
}

.ConfirmBtn {
  color: var(--color-red);
}

.CancelBtn,
.ConfirmBtn {
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 1rem;
}

.CancelBtn:hover,
.ConfirmBtn:hover {
  transform: translateY(-3px);
}

.CancelBtn:active,
.ConfirmBtn:active {
  transform: translateY(2px);
}
