.Button {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem 1.5rem var(--shadow);
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: all 0.2s;
}

.Button.Red {
  background-color: var(--color-red);
}

.Button:hover {
  transform: translateY(-3px);
}

.Button:active {
  transform: translateY(2px);
}

.Button:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 18px;
  height: 18px;
}

.Loading div {
  width: 100%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.Loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.Loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.Loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
